<div class="container">
        <div class="card">
                <div class="card-body">
                  <h4 class="card-title">About application</h4>
                  <p class="card-text text-justify">
 This program was developed in Angular 8.
 It shows a list of some news. User can click on the news and sees the detail of the news.
 Admin can log in the program and add, edit and, delete news.
 I have tried to use most of the concepts which are related to Angular programming such as component, service, http API, Observers, routing, protect routes.
</p>
</div>
</div>
</div>