.button{
    margin: 5px;
}
.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
    button {
      font-size: 3.2vw;;
    }
  }