.add-form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
}
.container-button{
    display: flex;
    justify-content: center;
}

.button{
    margin:5px;
}

.snackBar{
    max-width: 200px;
    color: blue;
}